<div class="container">
  <div class="col-lg-12">
      <div class="col-md-4 col-lg-4 col-sm-6" ng-hide="emailsStatsCtrl.monitoring">
        <button class="btn btn-primary" ng-click="emailsStatsCtrl.startMonitoring()">Start Monitoring</button>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-6" ng-hide="!emailsStatsCtrl.monitoring">
        <button class="btn btn-primary" ng-click="emailsStatsCtrl.stopMonitoring()">Stop Monitoring</button>
      </div>

      <div class="col-md-4 col-lg-4 col-sm-6">
        <button class="btn btn-primary" ng-click="emailsStatsCtrl.getEmails()">Getting Emails</button>
      </div>
  </div>

  <div class="col-lg-12">
    <h1 class="page-header">Emails:</h1>
    <table class="table table-striped">

      <tr>
        <th>Subject</th>
        <th>Date</th>
        <th>From</th>
        <th>To</th>
        <th>CC</th>
        <th>References</th>
        <th>ID</th>
      </tr>
      <tr ng-repeat="email in emailsStatsCtrl.emails">
        <td>{{email.subject}}</td>
        <td>{{email.date | date:'MM/dd/yyyy' }}</td>
        <td>{{email.from}}</td>
        <td>{{email.to}}</td>
        <td>{{email.cc}}</td>
        <td>{{email.references}}</td>
        <td>{{email.messageId}}</td>
      </tr>
    </table>

  </div>

</div>

