<div class="container">

  <div class="col-lg-12">
    <h1 class="page-header">Email Accounts ({{emailSettingCtrl.emailAccounts.length}})</h1>

    <div class="panel panel-default" ng-repeat="account in emailSettingCtrl.emailAccounts">
      <div class="panel-heading">
        <div class=" btn-group-lg" role="group" aria-label="action">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" ng-show="emailSettingCtrl.isExistingAccount(account)"
                    ng-click="emailSettingCtrl.updateAccount(account)" ng-disabled="!emailSettingCtrl.isAccountChanged(account)">Update</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" ng-hide="emailSettingCtrl.isExistingAccount(account)"
                    ng-click="emailSettingCtrl.saveAccount(account)" ng-disabled="!emailSettingCtrl.isAccountChanged(account)">Save</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" ng-click="emailSettingCtrl.testAccount(account)">Test Connection
              <i class="fa fa-check-square-o" aria-hidden="true" ng-show="account.testing && account.testing.status"></i>
              <i class="fa fa-times" aria-hidden="true" ng-show="account.testing && !account.testing.status"></i></button>
          </div>
          <div class="btn-group" role="group" ng-hide="account.monitoring || !emailSettingCtrl.isExistingAccount(account)" ng-click="emailSettingCtrl.monitorAccount(account, true)">
            <button type="button" class="btn btn-default"><i class="fa fa-cog" aria-hidden="true"></i> Start Monitoring</button>
          </div>
          <div class="btn-group" role="group" ng-show="account.monitoring" ng-click="emailSettingCtrl.monitorAccount(account, false)">
            <button type="button" class="btn btn-default"><i class="fa fa-cog fa-spin" aria-hidden="true"></i> Stop Monitoring</button>
          </div>
          <div class="btn-group pull-right" role="group" ng-click="emailSettingCtrl.deleteAccount(account)" ng-show="emailSettingCtrl.isExistingAccount(account)">
            <button type="button" class="btn btn-danger ">Delete</button>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <table class="table table-hover">
          <tr>
            <th class="col-md-6 col-lg-6 col-sm-6">Account</th>
            <th class="col-md-6 col-lg-6 col-sm-6">Email Server</th>
          </tr>
          <tr >
            <td >
              <div class="form-group">
                <label for="inputEmail">Email Address</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="account.username" ng-change="account.changed=true;">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="account.password" ng-change="account.changed=true;">
              </div>
              <div class="form-group">
                <label for="inputMailBox">Mail Box</label>
                <input type="text" class="form-control" id="inputMailBox" placeholder="Inbox" ng-model="account.mailbox" ng-change="account.changed=true;">
              </div>
            </td>
            <td >
              <div class="form-group">
                <label for="InputHost">Host</label>
                <input type="text" class="form-control" id="InputHost" placeholder="IMAP Host" ng-model="account.host" ng-change="account.changed=true;">
              </div>
              <div class="form-group">
                <label for="inputPort">Port</label>
                <input type="number" class="form-control" id="inputPort" placeholder="993" ng-model="account.port" ng-change="account.changed=true;">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="account.tls" ng-change="account.changed=true"> TLS
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="account.debugging" ng-change="account.changed=true"> Debugging
                </label>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <span><i class="fa fa-plus-circle fa-2x" aria-hidden="true" ng-click="emailSettingCtrl.addEmptyAccount()"></i></span>
      </div>
    </div>

    <div uib-alert ng-repeat="alert in emailSettingCtrl.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="emailSettingCtrl.closeAlert($index)" dismiss-on-timeout="4000">{{alert.msg}}</div>

  </div>
</div>
